h1 {
    background-color:red;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    background-image: url('HB6YlxmXoAAySRh.jpeg');
    background-size: cover;         /* Hace que la foto cubra toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* Evita que la foto se repita como mosaico */
    background-attachment: fixed;   /* Hace que el fondo se quede quieto al hacer scroll */
}

}

.title  {
    align-self: flex-start;
    color: grey;

}

.photo img {69dac59ed12397a5d16c9a91ed8fd183.gif
    width: 100vh;
}
