h1 {
    background-color:red;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.title  {
    align-self: flex-start;
    color: grey;

}

.photo img {69dac59ed12397a5d16c9a91ed8fd183.gif
    width: 100vh;
}
